{{ define "main" }}
<hr>
<div class="wrapper">
    <div class="index-content">{{ .Content }}</div>
</div>
<div class="wrapper">
    <div class="box box1">
        <a href="mailto:mailREMOVETHIS@brianoverby.dk"><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg></a>
    </div>
    <div class="box box2">
        <a href="https://www.linkedin.com/in/brianoverby/"><svg class="icon icon-linkedin-rect"><use xlink:href="#icon-linkedin-rect"></use></svg></a>
    </div>
    <div class="box box3">
        <a href="https://facebook.com/overby.brian"><svg class="icon icon-facebook-rect"><use xlink:href="#icon-facebook-rect"></use></svg></a>
    </div>
</div>
{{ end }}